* {
	font-family: "Open Sans", sans-serif;
	color: #4a4a4a;
	text-align: center;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background-color: #fafafa;
}

main {
	background-color: white;
	padding-top: 40px;
}

img {
	max-width: 100%;
}

ul {
	padding-left: 0;
	padding-bottom: 20px;
}

li {
	list-style: none;
}

a {
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	margin: 0;
}

.skills-container h2 {
	padding-top: 20px;
	padding-bottom: 30px;
}

.skills-container ul {
	margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
}

.contact-container h2 {
	padding: 50px 0 30px 0;
}

.main-header {
	padding-bottom: 1em;
}

hr {
	margin: 0 15px;
    border: 0;
    height: 1px;
    background: #dcdcdc; 
}

.main-header hr {
	width: 90%;
	margin: 60px auto 40px;
}
.main-nav a {
	padding: 10px 0;
	margin: 5px 0;
	display: block;
	background-color: white;
	font-size: 15px;
}

.title {
	font-size: 23px;
	font-weight: 800;
	padding: 10px 0;
}

.profile {
	width: 70%;
}

.intro-container p,
.skills-container p {
	margin: 20px 0;
	color: #7f7f7f;
}

.skills-container li {
	font-weight: 700;
	color: #7f7f7f;
}

.header-container,
.intro-container,
.skills-container,
.portfolio-container {
	width: 90%;
	margin: 0 auto;;
}

.skills-container li {
	padding: 10px 0;
	margin: 5px 0;
	display: block;
}

.contact-container p {
	color: #7f7f7f
}

.contact-container p:last-child {
	margin-bottom: 0;
	padding-bottom: 60px;
}

.contact-container a {
	text-transform: lowercase;
	font-weight: 700;
	color: #7f7f7f;
	padding-left: 10px;
}

.portfolio-container h2 {
	padding-bottom: 40px;
}

.project {
	padding-bottom: 40px;
}

.project p {
	font-size: 15px;
	width: 97%;
	margin: 0 auto;
}

.main-footer {
	padding: 16px;
	font-size: 13px;
	font-weight: 800;
}

.name {
	float: left;
}

.mobile-only {
	float: right;
}

.footer-nav {
	display: none;
}

@media only screen and (max-width: 767px) {
	.main-nav a:active {
		color: white;
		background-color: #4a4a4a;
	}
}

/*******************************
TABLET MEDIA QUERY
*******************************/

@media only screen and (min-width: 768px) {
	.main-nav li {
		display: inline-block;
		padding-left: 20px;
	}

	.main-nav a {
		background-color: transparent;
	}

	.profile {
		width: 40%;
		float: right;
	}

	.intro-container p {
		width: 58%;
		float: left;
		text-align: left;
	}

	.main-header {
		padding-top: 25px;
		padding-bottom: 20px;
	}

	.project {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		padding-right: 5px;
		padding-left: 5px;
		vertical-align: top;
	}

	.project p {
		width: 83%;
	}

	.contact-container p:first-of-type {
		width: 60%;
		padding-bottom: 25px;
		margin: 0 auto;
	}

	.mobile-only {
		display: none;
	}

	.footer-nav {
		display: block;
		float: right;
	}

	.footer-nav li {
		float: left;
		padding-left: 40px;
	}

	.header-container,
	.intro-container,
	.skills-container,
	.portfolio-container,
	.main-footer {
		max-width: 1150px;
	}
} 


/*******************************
DESKTOP MEDIA QUERY
*******************************/

@media only screen and (min-width: 1024px) {
	body {
		padding: 0 30px;
	}

	.header-container,
	.intro-container,
	.skills-container,
	.portfolio-container {
		width: 96%;
	}

	.header-container {
		vertical-align: top;
	}

	.title {
		float: left;
	}

	.main-nav {
		float: right;
	}

	a:hover {
		color: grey;
	}

	.project {
		width: 33%;
		padding-right: 7px;
		padding-left: 7px;
		padding-bottom: 60px;
	}

	.project p {
		width: 100%;
		font-size: 14px;
	}

	.contact-container p:first-of-type {
		width: 47%;
	}

	.main-footer {
		padding-bottom: 0;
		margin: 0 auto;
	}
} 


/*******************************
CLEARFIX CHEAT
*******************************/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}